<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="HttpBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
					<security mode="None"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="ChatService.ChatService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="ChatService.IChatService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/ChatService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>
